.border .background img {
    max-width: 250px;
}

.border {
    align-items: stretch;
    border: solid 24px #383838;
    border-radius: 3px;
    box-shadow:
        inset 3px 3px 1px #070707, 
        inset -3px -3px 1px #070707,
        0px 24px 24px -26px #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: max-content;
}

.background {
    background-color: #f9f9f9;
    box-shadow: 
        inset 3px 3px 6px -3px #000,
        inset -3px -3px 6px -3px #000;
    box-sizing: border-box;
    padding: 48px;
    width: auto;
}

.image {
    border: solid 1px #383838;
}

.border:hover {
    box-shadow:
        inset 3px 3px 1px #070707, 
        inset -3px -3px 1px #070707,
        0px 24px 34px -22px #000000;
    cursor: pointer;
    transform: scale(1.06);
}