$color-black: #252121;
$color-gray: #e9e9e9;
$color-white: #ffffff;

$max-content: 1470px;

$font-brasilero: var(--font-brasilero);
$font-epilogue: var(--font-epilogue);
$font-inter: var(--font-inter);