@use '_variables' as *;
@use '_mixin' as *;

.container {
    @include container;
}

.wrapper {
    @include wrapper;
    align-items: flex-start;
    flex-direction: column;
    gap: 128px;
}

.frames {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    width: 100%;
}

.title {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-clip: text;
    border-left: 4px solid $color-black;
    font-family: $font-epilogue;
    font-size: 92px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.05;
    margin: 0 32px;
    opacity: .7;
    padding: 86px 18% 86px 64px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    &:hover {
        cursor: pointer;
    }
}